
/* --------------------  Utilities -------------------*/
/* ----------------------- Layout -------------------- */
:root{
    --bs-primary: rgb(27, 114, 232);
    --bs-secondary: rgb(rgb(7, 42, 64));
    --bs-primary-rgb: 27,114,232;
    --bs-secondary-rgb: 7,42,64;
    --ama-header:#993636;
}

[ class*="col-"]{

    /* solo per visualizzare le colonne  */
    /* min-height: ; */
    /* border: 3px dashed black; */
    /* background-color: #ebf26a; */
}

header{
    /* min-height: 80px; */
    background-color: var(--ama-header) ;
}

/*------------------- body ------------------ */

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* -------------sidebar ---------------- */
.sidebar{
    width: 70px;
    min-height: 100px;
    /* border: 5px solid rgb(225, 98, 98); */
    background-color:#072A40;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.sidebar .nav{
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

.sidebar .nav-hover .nav-link:hover {
    background-color: rgba(245, 241, 241, 0.40);
}
/* ----------------------------------- */

.ama-main-container-content{
    
    height: calc(100vh - 80px);
    /* border: 5px solid rgb(225, 98, 98); */

}
/* ---------------------------------- */
/* ---------------hero---------------- */
.ama-hero{
    height: 200px;
    /* border: 3px solid black; */
    background-color:#1B72E8;
    margin-right: 0.5rem;
}

.badge{
    background-color: #165BBA;
}
/* ---------------------------------- */
/* ---------------section content--------- */

.ama-angles-right{
    background-color: #F26052;
    padding: .3rem;
    border-radius: 2rem;
    margin-right: .5rem;
}
.ama-card{
    margin-right: 2rem;
    
}

.ama-input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ----------- responsive ---------------- */
/* -------------sidebar ---------------- */
@media all and (min-width:768px) {
    .sidebar{
        width: 200px;
    }
    .sidebar .nav-link i{
        margin-right: 1rem;
    }

}
/* ------------------------------------- */
@media all and (min-width:768px) {
    .ama-hero{
        height: 130px;
        margin-right: 0.5rem;
    }
    
}